@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 275 46% 95%;
		--foreground: 268 46% 8%;

		--card: 275 46% 95%;
		--card-foreground: 268 46% 8%;

		--popover: 275 46% 95%;
		--popover-foreground: 268 46% 8%;

		--primary: 270 45% 30%;
		--primary-foreground: 275 46% 95%;

		--secondary: 351 45% 66%;
		--secondary-foreground: 268 46% 8%;

		--muted: 275 45% 20%;
		--muted-foreground: 268 46% 70%;

		--accent: 26 45% 46%;
		--accent-foreground: 268 46% 8%;

		--destructive: 0 85% 60%;
		--destructive-foreground: 268 46% 8%;

		--border: 275 45% 20%;

		--input: 275 45% 20%;

		--ring: 26 45% 40%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 275 46% 5%;
		--foreground: 268 46% 92%;

		--card: 275 46% 5%;
		--card-foreground: 268 46% 92%;

		--popover: 275 46% 5%;
		--popover-foreground: 268 46% 92%;

		--primary: 270 45% 70%;
		--primary-foreground: 275 46% 5%;

		--secondary: 351 45% 34%;
		--secondary-foreground: 268 46% 92%;

		--muted: 275 45% 80%;
		--muted-foreground: 268 46% 92%;

		--accent: 26 45% 54%;
		--accent-foreground: 275 46% 5%;

		--destructive: 0 62% 30%;
		--destructive-foreground: 269 45% 10%;

		--border: 275 46% 60%;

		--input: 275 45% 80%;

		--ring: 26 45% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
